@mixin border-radius($border) {
  -webkit-border-radius: $border;
     -moz-border-radius: $border;
      -ms-border-radius: $border;
          border: $border;
}

$chat-width: 1000px;
$chat-height: 500px;
$std-border: solid green;
$std-margin: 25px;
$msg-width: 300px;
$msg-height: 50px;
$pos-margin: 5%;

#header {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

#copyleft {
    display: inline-block;
    transform: rotate(180deg);
}

#chat-area {
    @include border-radius(2px);
    width: $chat-width;
    height: $chat-height;
    border: $std-border;
    margin-right: $std-margin;
    float: left;
    position: relative;
    overflow: auto;
}

#list-of-users {
    @include border-radius(2px);
    width: 200px;
    height: $chat-height;
    border: $std-border;
    float: right;
    overflow: auto;
}

#message-type {
    @include border-radius(2px);
    width: $chat-width;
    height: 100px;
    margin-top: $std-margin;
    margin-right: $std-margin;
    border: $std-border;
    white-space: pre;
    word-wrap: break-word;
    overflow-wrap: normal;
}

#btn-send {
    max-width: 200px;
    margin-top: $std-margin;
}

#footer {
    position: fixed;
    bottom: 0;
}

.msg-box {
    min-height: $msg-height;
    width: 100%;
    display: block;
    margin: 10px;
    list-style-type: none;
}

.msg-foreign, .msg-own {
    min-height: $msg-height;
    width: 50%;
    color: white;
    padding: 10px;
}

.msg-foreign {
    text-align: left;
    left: $pos-margin;
    position: absolute;
    background-color: rgb(0,127,127);
}

.msg-own {
    position: absolute;
    right: $pos-margin;
    text-align: right;
    background-color: blue;
}

.username {
    max-height: 16px;
    margin: $std-margin;
    width: 75%;
    display: block;
    list-style-type: none;
}

#auth-box {
    width: 30%;
    height: auto;
    border: $std-border;
}

.auth-input {
    margin: $std-margin;
}

#btn-ok, #btn-register {
    margin-bottom: 1%;
}

#btn-ok {
    margin-left: 40%;
}

#btn-register {
    margin-left: 10%;
}
