@mixin border-radius($border) {
  -webkit-border-radius: $border;
     -moz-border-radius: $border;
      -ms-border-radius: $border;
          border: $border;
}

$chat-width: 1000px;
$chat-height: 500px;
$std-border: solid green;
$std-margin: 25px;

#header {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

#copyleft {
    display: inline-block;
    transform: rotate(180deg);
}

#chat-area {
    @include border-radius(2px);
    width: $chat-width;
    height: $chat-height;
    border: $std-border;
    margin-right: $std-margin;
    float: left;
}

#list-of-users {
    @include border-radius(2px);
    width: 200px;
    height: $chat-height;
    border: $std-border;
    float: right;
}

#message-type {
    @include border-radius(2px);
    width: $chat-width;
    height: 100px;
    margin-top: $std-margin;
    margin-right: $std-margin;
    border: $std-border;
}

#btn-send {
    width: 200px;
    margin-top: $std-margin;
}

#footer {
    position: fixed;
    bottom: 0;
}
