$chat-width: 1000px;
$std-border: 2px solid green;
$std-margin: 25px;

#header {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

#copyleft {
    display: inline-block;
    transform: rotate(180deg);
}

#chat-area {
    width: $chat-width;
    height: 500px;
    border: $std-border;
    margin-right: $std-margin;
    float: left;
}

#list-of-users {
    width: 200px;
    height: 500px;
    border: $std-border;
    float: right;
}

#message-type {
    width: $chat-width;
    height: 100px;
    margin-top: $std-margin;
    margin-right: $std-margin;
    border: $std-border;
}

#btn-send {
    width: 200px;
}

#footer {
    position: fixed;
    bottom: 0;
}
